{% extends "admin/base_site.html" %}

{% block content %}
        <div class="row">
            <div class="widget-content">
                <h3>電話紀錄</h3>
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>編號</th>
                        <th>姓名</th>
                        <th>電話</th>
                        <th>時間</th>
                        <th>備註</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for phone in phone_list %}
                        <tr>
                            <td>{{ phone.id }}</td>
                            <td>{{ phone.phone.customer }}</td>
                            <td>{{ phone.phone.phone_number }}</td>
                            <td>{{ phone.datetime }}</td>
                            <td>{{ phone.remark }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div> <!-- /widget-content -->
        </div>
{% endblock %}